.container {
    text-align: center;    
}

input {
    font-size: 14px;
    width: 135px;
}

.month-wrapper {
    display: inline-block;
    margin: 20px;
    background-color: #c7c4c4;
    color: black;
    border: solid 1px white;
}

.month-title {
    font-size: 17px;
    margin-bottom: 0px;
}

label {
    margin-left: 20px;
    margin-right: 10px;
    font-weight: bold;
}

thead th {
    font-weight: bold;
    background-color: #efe9e9;
    padding: 5px;
}

td {
    border: solid 1px white;
    border-left: none;
    border-bottom: none;
    padding: 5px;
    width: 16px;
}

.invalid {
    background-color: #c7c4c4;    
}

.invalid span {
    visibility: hidden;
}

.weekday {
    background-color: #7dc37d;
}

.weekend {
    background-color: #f1f173;
}

h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #cca6a6;
}