<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Number 8 {{ title }}
  </h1>
  <label for="startDate">Start Date</label>
  <input type="date" name="startDate" id="start-date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" [ngModel]="calendar.startDate | date:'yyyy-MM-dd'" (ngModelChange)="calendar.startDate = $event; calendar.setMonths()"/>
  <label for="startDate">Num of Days</label>
  <input type="number" name="numDays" id="num-days" [ngModel]="calendar.numDays" (ngModelChange)="calendar.numDays = $event; calendar.setMonths()"/>
  <label for="startDate">Country Code</label>
  <input type="text" name="countryCode" id="country-code" [(ngModel)]="calendar.countryCode"/>
</div>
  
<div class="container">
  <div class="month-wrapper" *ngFor="let month of calendar.months">
    <h4 class="month-title">{{month.weeks[0][6] | date:'MMMM yyyy'}}</h4>
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr class="week-row" *ngFor="let week of month.weeks">
          <td class="day" [class.invalid]="calendar.isInvalid(day, month.weeks[0][6])" [class.weekday]="calendar.isWeekday(day, month.weeks[0][6])" [class.weekend]="calendar.isWeekend(day, month.weeks[0][6])" *ngFor="let day of week" ><span>{{day.getDate()}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>